{% extends "_base.jinja2" %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 offset-md-5">
            <h1 class="text-center">coffeeCam</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-6-md offset-md-3">
            <img class="img-fluid rounded" src="{{ url_for('static', filename='ram/live.jpg') }}" id="coffeepic">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-4-md offset-md-4">
            {% include "stats.jinja2" %}
        </div>
    </div>

</div>



{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}
