{% extends "_base.jinja2" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>about this node</h1>

            <hr>

            <h2>bill of materials</h2>
            <p>This node consists of:</p>
            <ul>
                <li>raspberry pi 2</li>
                <li>usb wifi</li>
                <li>case</li>
                <li>camera</li>
                <li>just a little bit of awesome</li>
            </ul>
            <h2>software</h2>
            <p>This node consists of:</p>
            <ul>
                <li>flask web framework</li>
                <li>bootstrap 4 frontend framework</li>
                <li>jquery javascript library</li>
                <li>raspian operating system</li>
                <li>picamera library</li>
            </ul>
            <h2>configuration</h2>
            <p>This node is not connected to the internet.  It does not collect
            any personal data and will only log your IP address that you acquired
            when you connected to the "coffeecam" wifi network.</p>
        </div>
    </div>
</div>
{% endblock %}