{% extends "_base.jinja2" %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <hr>

    <div class="row">

        {% if show_stats %}
            <div class="col-md-8">
            <img class="img-fluid rounded" src="{{ url_for('pages.video_feed') }}" id="coffeepic">
            </div>
            <div class="col-md-4">
            {% include "stats.jinja2" %}
            </div>

        {% else %}
            <div class="col-md-12">
            <img class="img-fluid rounded" src="{{ url_for('pages.video_feed') }}" id="coffeepic">
            </div>
        {% endif %}

    </div>

    {% if messages > 0 %}
        {% include "messages.jinja2" %}
    {% endif %}

</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}
