{% extends "_base.jinja2" %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">coffeeCam</h1>
        </div>
    </div>

    <div class="row">

        {% if show_stats %}
        <div class="col-md-8">
        {% else %}
        <div class="col-md-12">
        {% endif %}
            <img class="img-fluid rounded" src="{{ url_for('static', filename='ram/live.jpg') }}" id="coffeepic">
        </div>

        {% if show_stats %}
        <div class="col-md-4">
            {% include "stats.jinja2" %}
        </div>
        {% endif %}

    </div>

</div>



{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}
