<hr>

<form class="form-row">
    <div class="col-xl-11 col-lg-10 col-md-8">
        <input class="form-control" type="text" placeholder="your message" id="messageInput">
    </div>
    <div class="col-xl-1 col-lg-2 col-md-4">
        <button class="btn btn-primary btn-block" type="button" id="submitMessage">submit</button>
    </div>
</form>

<br>

<div class="row">
    <table class="table table-striped" id="messageTable">

    </table>
</div>
