<table class="table table-striped">

    <tr>
        <th colspan="2">stats</th>
    </tr>

    <tr>
        <td>your id</td>
        <td>{{ user_id }}</td>
    </tr>

    <tr>
        <td>other users</td>
        <td><span id="numOfUsers"></span></td>
    </tr>

    <tr>
        <td>current watchers</td>
        <td><span id="currentUsers"></span></td>
    </tr>

</table>