<table class="table table-striped">

    <tr>
        <th colspan="2">stats</th>
    </tr>

    <tr>
        <td>your id</td>
        <td>{{ user_id }}</td>
    </tr>

    <tr>
        <td>total caffeine addicts</td>
        <td><span id="users"></span></td>
    </tr>

    <tr>
        <td>current caffeine addicts</td>
        <td><span id="currentUsers"></span></td>
    </tr>

</table>